<%inherit file='base.html'/>
<%block name='header'>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header:{
        left:  'prev,next today ',
        center: 'title',
        right: 'month, agendaWeek, agendaDay'
      },
      defaultView:'agendaWeek',
      dayClick: function(date, jsEvent, view) {

        //alert('Clicked on: ' + date.format());

        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

        //alert('Current view: ' + view.name);

        // change the day's background color just for fun
        $(this).css('background-color', 'red');
        window.open('/add?start=' + date.format().toString());

      },
      events:{
        url: '/api/event_list',
        type: 'GET',
        data: {
          custom_param1: 'something',
          custom_param2: 'somethingelse'
        },
      },
      eventRender: function(event, element) {
        element.qtip({
          content: event.info
        });
      },
      eventClick: function(calEvent, jsEvent, view) {

        //alert('Event: ' + calEvent.title + calEvent.start+ calEvent.end);
        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        //alert('View: ' + view.name);

        // change the border color just for fun
        $(this).css('border-color', 'red');
        if (calEvent.url){
          window.open(calEvent.url);
          return false;
        }

      }
    });
  });
</script>
</%block>
<%block name='body'>
<div class="row-fluid">
  <div class="span3">
    <div>Query</div>
    <div>Floor</div>
    <div></div>
  </div>
  <div class="span9">
    <div id='calendar'></div>
  </div>
</div>
</%block>
