<%inherit file='base.html'/>
<%block name='header'>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header:{
                left:  'prev,next today ',
                center: 'title',
                right: 'month, agendaWeek, agendaDay'
            },
            defaultView:'agendaWeek',
            dayClick: function(date, jsEvent, view) {

                alert('Clicked on: ' + date.format());

                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                alert('Current view: ' + view.name);

                // change the day's background color just for fun
                $(this).css('background-color', 'red');

            },
            events:{
                url: '/api/event_list',
                type: 'GET',
                data: {
                    custom_param1: 'something',
                    custom_param2: 'somethingelse'
                },
            },
            eventClick: function(calEvent, jsEvent, view) {

                alert('Event: ' + calEvent.title + calEvent.start+ calEvent.end);
                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                alert('View: ' + view.name);

                // change the border color just for fun
                $(this).css('border-color', 'red');

            }
        });
    });
</script>
</%block>
<%block name='body'>
<div id='calendar'></div>
</%block>
